{% extends 'base.html' %}

{% block subtitle %}
<h2>Informazioni utili</h2>
{% endblock %}

{% block content %}
<div class="container fullpage">
  Il sito ha la finalità di aiutare i soci CAI e i contributori di OpenStreetMap a collaborare nella mappatura dei percorsi escursionistici.
  <br>
  Inoltre è possibile ottenere i dati in diversi formati:
  <ul>
    <li>GeoJSON per essere utilizzati in sistemi GIS</li>
    <li>GPX per essere caricati sul proprio dispositivo GPS</li>
    <li>PDF per essere stampati o per visualizzazione una rapida da computer o dispositivo mobile</li>
  </ul>
  <br>
  
  <h3>Come contribuire</h3>
  <div>
    Per contribuire al miglioramento della mappatura bisogna registrarsi ad <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a>,
    che è un progetto per la creazione di una banca dati geografica libera e utilizzabile da chiunque per qualsiasi scopo (anche commerciale).
    <br>
    Prima di iniziare a mappare vi consigliamo di <em>studiare</em> come si contribuisce ad <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a>
    leggendo una delle tante guide che si trovano online, per esempio <a href="https://learnosm.org/it/" target="_blank">LearnOSM</a> o la guida del 
    <a href="https://wiki.openstreetmap.org/wiki/Beginners%27_guide" target="_blank">wiki di OpenStreetMap</a>.
    <br>
    Una volta presa familiarità alle modifiche in <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a> si consiglia di leggere la pagina
    del wiki dedicata all'<a href="http://wiki.openstreetmap.org/wiki/CAI" target="_blank">attività di mappatura del CAI</a>.
  </div>
  <br>
  
  <h3>Contatti</h3>
  <div>
    Lo strumento più utilizzando dalla comunità italiana (ed internazionale) di <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a>
    per comunicare è la <a href="https://wiki.openstreetmap.org/wiki/Mailing_lists" target="_blank">mailing list</a>. 
    <br>
    Esiste una mailing list dedicata all'attività CAI-OpenStreetMap ed è possibile registrarsi all'indirizzo 
    <a href="https://lists.openstreetmap.org/listinfo/talk-it-cai" target="_blank">https://lists.openstreetmap.org/listinfo/talk-it-cai</a>. Qui potete
    chiedere i vostri dubbi riguardo alla mappatura di sentieri ed altri elementi relativi al CAI
  </div>
</div> 
{% endblock %}