{% extends 'base.html' %}

{% block routes %}	
<h2>Sezioni e sottosezioni CAI presenti su OpenStreetMap</h2>
    <div id="sezioni" class="container center">
       
    </div>
    <div class="center">
      <small>
        Per mostrare la propria sezione nell'elenco bisogna aggiungere il tag <span class="tag">source:ref</span>
        usando come valori il codice utilizzato all'interno del CAI e visionabili 
      </small>
    </div>
{% endblock %}

{% block jsscript %}
  <script>
    $(document).ready(function() {
	    $.ajaxSetup ({
		   // Disable caching of AJAX responses
		   cache: false
	    });
	    home_map();
	    home_table();	
	 });
  </script>
{% endblock %}