{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">
{% endblock %}

{% block subtitle %}<h2>Regione {{ name|upper }}</h2>{% endblock %}

{% block routes %}
    <div class="tablesez">
      <h2>I sentieri</h2>
      <table id="osmtable" class="display" style="width:100%">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Codice</th>
                  <th>Classificazione CAI</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Distance</th>
                  <th>Symbol</th>
                  <th>Tool</th>
              </tr>
          </thead>
      </table>
    </div>
    <input type="button" value="Clear results" onclick="clearFilter()"/>
    <h2>Sezioni della regione</h2>
    <div id="sezioni" class="container center">
    {% for section in codes %}
    	{% if section.id in exists %}
    	{% set codetext = '<a href="/sezioneroute/'+ section.id +'">'+ section.name +	'</a>' %}
    	{% else %}
    	{% set codetext = section.name %}
    	{% endif %}
	   {% if loop.first %}
	   <div class="row"><div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% elif loop.last %}
	   <div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div></div>
	   {% elif (loop.index0 % 4) == 0 %}
	   </div><div class="row"><div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% else %}
	   <div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% endif %}
    {% endfor %}

    </div>
{% endblock %}
{% block jsscript %}
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script>
    $(document).ready(function() {
	    $.ajaxSetup ({
		   // Disable caching of AJAX responses
		   cache: false
	    });
	    region_map('{{ name }}');
	    region_table('{{ name }}');
	    $('#map').append('<div id="downbutton">Scarica i dati nei seguenti formati<br>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgeojson">GeoJSON</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgpx">GPX</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downpdf">PDF</button></div>')
	    $( "#downgeojson" ).click(function(e) {
	      e.preventDefault();  //stop the browser from following
        download_geojson('{{ name }}.geojson');
      });

      $( "#downgpx" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_gpx('{{ name }}.gpx');
      });

      $( "#downpdf" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_region_pdf('{{ name }}');
      });
	 });
  </script>
{% endblock %}