{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">
{% endblock %}

{% block subtitle %}<h2>Regione {{ name|upper }}</h2>{% endblock %}
{% block routes %}
    <div class="tablesez">
      <h2>I sentieri</h2>
      <table id="osmtable" class="display" style="width:100%">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Codice</th>
                  <th>Classificazione CAI</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Distance</th>
                  <th>Symbol</th>
                  <th>Tool</th>
              </tr>
          </thead>
      </table>
      <input type="button" value="Clear results" onclick="clearFilter()"/>
    </div>
    <div id="sezioni" class="container center tbpadding">
      <h2>Sezioni della regione</h2>
    {% for section in codes %}
    	{% if section.id in exists %}
    	{% set codetext = '<a href="/sezioneroute/'+ section.id +'">'+ section.name +	'</a>' %}
    	{% else %}
    	{% set codetext = section.name %}
    	{% endif %}
	   {% if loop.first %}
	   <div class="row"><div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% elif loop.last %}
	   <div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div></div>
	   {% elif (loop.index0 % 4) == 0 %}
	   </div><div class="row"><div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% else %}
	   <div class="col-lg-3 col-sm-6 sectioname">{{ codetext|safe }}</div>
	   {% endif %}
    {% endfor %}

    </div>
{% endblock %}
{% block jsscript %}
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script>
      function insertemail() {
        var email = $("#inputEmail").val();
        mydata = {'email': email, 'reg': slugify('{{ name }}')};
        $("#modalDeleteUpdate").modal('hide');
        $.ajax({
          url: '/insertmail',
          method: 'POST',
          data: mydata,
          success: function (d) {
            $('#modalGeneralLabel').text('Fatto');
          	$('#modalGeneralBody').html(d['response']);
          	$('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>');
          },
          error: function (d) {
            $('#modalGeneralLabel').text('Errore');
          	$('#modalGeneralBody').html(d.responseJSON['message']);
          	$('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>');
          }
        });
      };
      function deletemail() {
        var email = $("#inputEmail").val();
        mydata = {'email': email, 'reg': slugify('{{ name }}'), 'deleteuser': $("#checkDelete").prop('checked')};
        console.log(mydata);
        $("#modalDeleteUpdate").modal('hide');
        $.ajax({
          url: '/deleteregionmail',
          method: 'POST',
          data: mydata,
          success: function (d) {
          	$('#modalGeneralLabel').text('Fatto');
          	$('#modalGeneralBody').html(d['response']);
          	$('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>');
          },
          error: function (d) {
            $('#modalGeneralLabel').text('Errore');
          	$('#modalGeneralBody').html(d.responseJSON['message']);
          	$('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>');
          }
        });
      };
    $(document).ready(function() {
	    $.ajaxSetup ({
		   // Disable caching of AJAX responses
		   cache: false
	    });
	    region_map('{{ name }}');
	    region_table('{{ name }}');
	    $('#map').append('<div id="downbutton">Scarica i dati nei seguenti formati<br>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgeojson">GeoJSON</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgpx">GPX</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downpdf">PDF</button><br>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="getupdate" data-toggle="modal" data-target="#modalGeneral">Ricevi aggiornamenti</button>'+
	                     '<br><button type="button" class="btn btn-primary btn-lg" id="deleteupdate" data-toggle="modal" data-target="#modalGeneral">Rimuovi aggiornamenti per questa regione</button></div>')
	    $( "#downgeojson" ).click(function(e) {
	      e.preventDefault();  //stop the browser from following
        download_geojson('{{ name }}.geojson');
      });

      $( "#downgpx" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_gpx('{{ name }}.gpx');
      });

      $( "#downpdf" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_region_pdf('{{ name }}');
      });
      $( '#getupdate' ).click(function (e) {
        $('#modalGeneralLabel').text('Ottieni aggiornamenti per {{ name | upper }}');
        $('#modalGeneralBody').html('È possibile ricereve aggiornamenti per la regione {{ name }} tramite Telegram registrandosi al canale #TODO.<br>'+
'        Inoltre si può ricevere aggiornamenti via e-mail aggiungendo l\'indirizzo a cui ricevere le informazioni di seguito <br>'+
'        <form>'+
'          <div class="form-group">'+
'            <label for="inputEmail">Indirizzo Email</label>'+
'            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Inserisci email">'+
'            <small id="email" class="form-text text-muted">L\'indirizzo mail verrà utilizzata solamente per l\'invio degli aggiornamenti e non verrà condiviso con nessun altro.</small>'+
'          </div>'+
'          <div class="form-group">'+
'            <label for="inputEmailRepeat">Ripeti indirizzo Email</label>'+
'            <input type="email" class="form-control" id="inputEmailRepeat" aria-describedby="emailHelp" placeholder="Ripeti email">'+
'          </div>'+
'        </form>');
        $('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>'+
'        <button type="button" class="btn btn-primary" id="register">Ricevi aggiornamenti</button>');
        $('#modalGeneral').modal('show');
      });
      $( '#deleteupdate' ).click(function (e) {
        $('#modalGeneralLabel').text('Cancella aggiornamenti per {{ name | upper }}');
        $('#modalGeneralBody').html('Rimuove la spedizione degli aggiornamenti della regione {{ name }} per l\'indirizzo email segnalato di seguito <br>'+
'        <form>' +
'          <div class="form-group">' +
'            <label for="inputEmail">Indirizzo Email</label>' +
'            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Inserisci email">'+
'            <small id="email" class="form-text text-muted">L\'indirizzo mail verrà utilizzata solamente per l\'invio degli aggiornamenti e non verrà condiviso con nessun altro.</small>'+
'          </div>'+
'          <div class="form-group">'+
'            <label for="inputEmailRepeat">Ripeti indirizzo Email</label>'+
'            <input type="email" class="form-control" id="inputEmailRepeat" aria-describedby="emailHelp" placeholder="Ripeti email">'+
'          </div>'+
'          <div class="form-check">'+
'            <input type="checkbox" class="form-check-input" id="checkDelete">'+
'            <label class="form-check-label" for="checkDelete">Cancella l\'indirizzo email se non ha regioni di interesse</label>'+
'          </div>'+
'        </form>');
        $('#modalGeneralFooter').html('        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>'+
        '        <button type="button" class="btn btn-primary" id="cancelUpdate">Cancella aggiornamenti</button>');
        $('#modalGeneral').modal('show');
      });
    });
    $(document).on('click', '#register', function() {insertemail();});
    $(document).on('click', '#cancelUpdate', function() {deletemail();});
  </script>
{% endblock %}