{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">
{% endblock %}

{% block subtitle %}<h2>{{ name|upper }}</h2>{% endblock %}

{% block routes %}
    <div class="tablesez tbpadding">
      <h2>I sentieri</h2>
      <table id="osmtable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Codice</th>
                <th>Classificazione CAI</th>
                <th>From</th>
                <th>To</th>
                <th>Distance</th>
                <th>Symbol</th>
                <th>Tool</th>
            </tr>
        </thead>
      </table>
      <input type="button" value="Clear results" onclick="clearFilter()"/>
    </div>
{% endblock %}
{% block jsscript %}
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script>
    $(document).ready(function() {
	    $.ajaxSetup ({
		   // Disable caching of AJAX responses
		   cache: false
	    });
	    sezione_map('{{ sez }}');
	    sezione_table('{{ sez }}');
	    $('#map').append('<div id="downbutton">Scarica i dati nei seguenti formati<br>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgeojson">GeoJSON</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downgpx">GPX</button>'+
	                     '<button type="button" class="btn btn-primary btn-lg" id="downpdf">PDF</button></div>')
	    $( "#downgeojson" ).click(function(e) {
	      e.preventDefault();  //stop the browser from following
        download_geojson('{{ name }}.geojson');
      });

      $( "#downgpx" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_gpx('{{ name }}.gpx');
      });

      $( "#downpdf" ).click(function(e) {
        e.preventDefault();  //stop the browser from following
        download_section_pdf('{{ sez }}');
      });
	 });
  </script>
{% endblock %}